.sidebarChat {
  display: flex;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info > h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.sidebarChat__info {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
